{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
/* mobile devices */
@media screen and (max-width: 749px) {

  .createAccount {
    margin-top: 85px;
  }

  .mobile {
    display: unset !important;
  }

  .desktop {
    display: none !important;
  }
  
  .desktop-background {
    position: absolute;
    top: 500px;
    z-index: -1;
    width: 100%;
  }

}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {

    .createAccount {
    margin-top: 150px;
  }

    .mobile {
      display: none !important;
    }

    .desktop {
      display: unset !important;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .desktop-background {
    position: absolute;
    top: 200px;
    z-index: -1;
    width: 100%;
  }

  }
{%- endstyle -%}

<div class="customer login section-{{ section.id }}-padding">
  <h1 id="recover" tabindex="-1">
    {{ 'customer.recover_password.title' | t }}
  </h1>
  <div>
    <p>
      {{ 'customer.recover_password.subtext' | t }}
    </p>

    {%- form 'recover_customer_password' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field">
        <input 
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder="{{ 'customer.login_page.email' | t }}"
        >
        <label for="RecoverEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
      </div>
      {%- if form.errors -%}
        <small id="RecoverEmail-email-error" class="form__message">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
          {{ form.errors.messages.form }}
        </small>
      {%- endif -%}

      <button>
        {{ 'customer.login_page.submit' | t }}
      </button>

      <a href="#login">
        {{ 'customer.login_page.cancel' | t }}
      </a>
    {%- endform -%}
  </div>

  <h1 id="login" tabindex="-1">
    {{ 'customer.login_page.title' | t }}
  </h1>
  <div>
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
          <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"/>
          <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
          <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
        </svg>
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1" autofocus>
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        {{ form.errors | default_errors }}
      {%- endif -%}
      <h3 class="inputLabel">{{'customer.login_page.email' | t}}</h3>
      <div class="field">
        <input class="searchBar"
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="{{ 'customer.login_page.email' | t }}"
        >
        <label for="CustomerEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
      </div>

      {%- if form.password_needed -%}
        <h3 class="inputLabel">{{'customer.login_page.password' | t}}</h3>
        <div class="field" style="margin: unset!important;">
          <input class="searchBar" 
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            autocomplete="current-password"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.password' | t }}"
          >
          <label for="CustomerPassword">
            {{ 'customer.login_page.password' | t }}
          </label>
        </div>
        <div style="text-align: -webkit-center; margin: 10px;">
          <a href="#recover" style="color: var(--gradient-base-accent-2);">
            {{ 'customer.login_page.forgot_password' | t }}
          </a>
        </div>
      {%- endif -%}

      <button>
        {{ 'customer.login_page.sign_in' | t }}
      </button>

    {%- endform -%}
  </div>

  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>

<div style="height: 200px;">
<div class="desktop-background desktop"> 
  <svg width="100%" height="537" viewBox="0 0 1440 537" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <line x1="3.42327e-05" y1="525.5" x2="648" y2="525.509" stroke="#DC9393" stroke-width="5"/>
    <line x1="792" y1="526.5" x2="1440" y2="526.509" stroke="#DC9393" stroke-width="5"/>
    <path d="M1440.5 214C1440.5 214 1386.12 223.092 1352.5 255.5C1327.57 279.534 1371.03 355.591 1336.5 375C1300.24 395.383 1219.18 331.578 1204 359.813C1189.2 387.346 1259.83 442.764 1233.16 466.949C1205.36 492.162 1143.28 473.206 1094 480.5C1043.55 487.968 1007.04 506.142 958 512.5C889 521.445 792 524 792 524H1440.5V214Z" fill="#9FD6D2"/>
    <path d="M-1 0C-1 0 41.8585 90.8243 75.5 145.5C100.448 186.047 109.942 213.255 144.5 246C180.792 280.389 239.312 263.866 254.5 311.5C269.311 357.951 179.812 385.947 206.5 426.75C234.322 469.286 287.185 408.195 336.5 420.5C386.991 433.098 402.45 469.517 450.5 489.5C521.844 519.171 629.5 523 629.5 523H-1V0Z" fill="#9FD6D2"/>
    <path d="M689.969 536.288C688.07 536.288 686.385 535.904 684.913 535.136C683.441 534.368 682.278 533.312 681.424 531.968C680.593 530.603 680.177 529.045 680.177 527.296C680.177 525.547 680.593 524 681.424 522.656C682.278 521.312 683.441 520.267 684.913 519.52C686.385 518.752 688.07 518.368 689.969 518.368C691.867 518.368 693.553 518.752 695.025 519.52C696.518 520.267 697.681 521.312 698.513 522.656C699.345 524 699.761 525.547 699.761 527.296C699.761 529.045 699.345 530.603 698.513 531.968C697.681 533.312 696.518 534.368 695.025 535.136C693.553 535.904 691.867 536.288 689.969 536.288ZM689.969 531.456C690.673 531.456 691.291 531.296 691.825 530.976C692.379 530.656 692.817 530.187 693.137 529.568C693.457 528.928 693.617 528.171 693.617 527.296C693.617 526.421 693.457 525.685 693.137 525.088C692.817 524.469 692.379 524 691.825 523.68C691.291 523.36 690.673 523.2 689.969 523.2C689.286 523.2 688.667 523.36 688.113 523.68C687.579 524 687.142 524.469 686.801 525.088C686.481 525.685 686.321 526.421 686.321 527.296C686.321 528.171 686.481 528.928 686.801 529.568C687.142 530.187 687.579 530.656 688.113 530.976C688.667 531.296 689.286 531.456 689.969 531.456ZM710.129 536.288C708.55 536.288 707.11 535.925 705.809 535.2C704.529 534.453 703.505 533.419 702.737 532.096C701.969 530.752 701.585 529.152 701.585 527.296C701.585 525.461 701.969 523.883 702.737 522.56C703.505 521.216 704.529 520.181 705.809 519.456C707.11 518.731 708.55 518.368 710.129 518.368C711.622 518.368 712.881 518.688 713.905 519.328C714.95 519.968 715.74 520.949 716.273 522.272C716.806 523.595 717.073 525.269 717.073 527.296C717.073 529.365 716.817 531.061 716.305 532.384C715.793 533.707 715.025 534.688 714.001 535.328C712.977 535.968 711.686 536.288 710.129 536.288ZM711.409 531.456C712.092 531.456 712.7 531.296 713.233 530.976C713.788 530.656 714.225 530.187 714.545 529.568C714.865 528.928 715.025 528.171 715.025 527.296C715.025 526.421 714.865 525.685 714.545 525.088C714.225 524.469 713.788 524 713.233 523.68C712.7 523.36 712.092 523.2 711.409 523.2C710.705 523.2 710.076 523.36 709.521 523.68C708.988 524 708.561 524.469 708.241 525.088C707.921 525.685 707.761 526.421 707.761 527.296C707.761 528.171 707.921 528.928 708.241 529.568C708.561 530.187 708.988 530.656 709.521 530.976C710.076 531.296 710.705 531.456 711.409 531.456ZM715.217 536V533.024L715.249 527.296L714.929 521.568V512.256H721.009V536H715.217ZM734.009 536.288C731.961 536.288 730.169 535.904 728.633 535.136C727.118 534.347 725.934 533.28 725.081 531.936C724.249 530.571 723.833 529.024 723.833 527.296C723.833 525.568 724.238 524.032 725.049 522.688C725.881 521.323 727.022 520.267 728.473 519.52C729.923 518.752 731.555 518.368 733.369 518.368C735.075 518.368 736.633 518.72 738.041 519.424C739.449 520.107 740.569 521.12 741.401 522.464C742.233 523.808 742.649 525.44 742.649 527.36C742.649 527.573 742.638 527.819 742.617 528.096C742.595 528.373 742.574 528.629 742.553 528.864H728.825V525.664H739.321L737.017 526.56C737.038 525.771 736.889 525.088 736.569 524.512C736.27 523.936 735.843 523.488 735.289 523.168C734.755 522.848 734.126 522.688 733.401 522.688C732.675 522.688 732.035 522.848 731.481 523.168C730.947 523.488 730.531 523.947 730.233 524.544C729.934 525.12 729.785 525.803 729.785 526.592V527.52C729.785 528.373 729.955 529.109 730.297 529.728C730.659 530.347 731.171 530.827 731.833 531.168C732.494 531.488 733.283 531.648 734.201 531.648C735.054 531.648 735.779 531.531 736.377 531.296C736.995 531.04 737.603 530.656 738.201 530.144L741.401 533.472C740.569 534.389 739.545 535.093 738.329 535.584C737.113 536.053 735.673 536.288 734.009 536.288ZM745.452 536V518.656H751.244V523.712L750.38 522.272C750.892 520.971 751.724 520 752.876 519.36C754.028 518.699 755.425 518.368 757.068 518.368V523.84C756.791 523.797 756.545 523.776 756.332 523.776C756.14 523.755 755.927 523.744 755.692 523.744C754.455 523.744 753.452 524.085 752.684 524.768C751.916 525.429 751.532 526.517 751.532 528.032V536H745.452Z" fill="#DC9393"/>
    <ellipse cx="158.5" cy="144.5" rx="29.5" ry="25.5" fill="#9FD6D2"/>
    <ellipse cx="1254.94" cy="255.287" rx="32" ry="39.5" transform="rotate(20.7932 1254.94 255.287)" fill="#9FD6D2"/>
    </svg>    
</div>

<div class="desktop-background mobile"> 
<svg width="100%" height="163" viewBox="0 0 414 163" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <line x1="-2.18557e-07" y1="151.5" x2="136" y2="151.5" stroke="#DC9393" stroke-width="5"/>
  <line x1="278" y1="152.5" x2="414" y2="152.5" stroke="#DC9393" stroke-width="5"/>
  <path d="M177.969 162.288C176.07 162.288 174.385 161.904 172.913 161.136C171.441 160.368 170.278 159.312 169.424 157.968C168.593 156.603 168.177 155.045 168.177 153.296C168.177 151.547 168.593 150 169.424 148.656C170.278 147.312 171.441 146.267 172.913 145.52C174.385 144.752 176.07 144.368 177.969 144.368C179.867 144.368 181.553 144.752 183.025 145.52C184.518 146.267 185.681 147.312 186.513 148.656C187.345 150 187.761 151.547 187.761 153.296C187.761 155.045 187.345 156.603 186.513 157.968C185.681 159.312 184.518 160.368 183.025 161.136C181.553 161.904 179.867 162.288 177.969 162.288ZM177.969 157.456C178.673 157.456 179.291 157.296 179.825 156.976C180.379 156.656 180.817 156.187 181.137 155.568C181.457 154.928 181.617 154.171 181.617 153.296C181.617 152.421 181.457 151.685 181.137 151.088C180.817 150.469 180.379 150 179.825 149.68C179.291 149.36 178.673 149.2 177.969 149.2C177.286 149.2 176.667 149.36 176.113 149.68C175.579 150 175.142 150.469 174.801 151.088C174.481 151.685 174.321 152.421 174.321 153.296C174.321 154.171 174.481 154.928 174.801 155.568C175.142 156.187 175.579 156.656 176.113 156.976C176.667 157.296 177.286 157.456 177.969 157.456ZM198.129 162.288C196.55 162.288 195.11 161.925 193.809 161.2C192.529 160.453 191.505 159.419 190.737 158.096C189.969 156.752 189.585 155.152 189.585 153.296C189.585 151.461 189.969 149.883 190.737 148.56C191.505 147.216 192.529 146.181 193.809 145.456C195.11 144.731 196.55 144.368 198.129 144.368C199.622 144.368 200.881 144.688 201.905 145.328C202.95 145.968 203.74 146.949 204.273 148.272C204.806 149.595 205.073 151.269 205.073 153.296C205.073 155.365 204.817 157.061 204.305 158.384C203.793 159.707 203.025 160.688 202.001 161.328C200.977 161.968 199.686 162.288 198.129 162.288ZM199.409 157.456C200.092 157.456 200.7 157.296 201.233 156.976C201.788 156.656 202.225 156.187 202.545 155.568C202.865 154.928 203.025 154.171 203.025 153.296C203.025 152.421 202.865 151.685 202.545 151.088C202.225 150.469 201.788 150 201.233 149.68C200.7 149.36 200.092 149.2 199.409 149.2C198.705 149.2 198.076 149.36 197.521 149.68C196.988 150 196.561 150.469 196.241 151.088C195.921 151.685 195.761 152.421 195.761 153.296C195.761 154.171 195.921 154.928 196.241 155.568C196.561 156.187 196.988 156.656 197.521 156.976C198.076 157.296 198.705 157.456 199.409 157.456ZM203.217 162V159.024L203.249 153.296L202.929 147.568V138.256H209.009V162H203.217ZM222.009 162.288C219.961 162.288 218.169 161.904 216.633 161.136C215.118 160.347 213.934 159.28 213.081 157.936C212.249 156.571 211.833 155.024 211.833 153.296C211.833 151.568 212.238 150.032 213.049 148.688C213.881 147.323 215.022 146.267 216.473 145.52C217.923 144.752 219.555 144.368 221.369 144.368C223.075 144.368 224.633 144.72 226.041 145.424C227.449 146.107 228.569 147.12 229.401 148.464C230.233 149.808 230.649 151.44 230.649 153.36C230.649 153.573 230.638 153.819 230.617 154.096C230.595 154.373 230.574 154.629 230.553 154.864H216.825V151.664H227.321L225.017 152.56C225.038 151.771 224.889 151.088 224.569 150.512C224.27 149.936 223.843 149.488 223.289 149.168C222.755 148.848 222.126 148.688 221.401 148.688C220.675 148.688 220.035 148.848 219.481 149.168C218.947 149.488 218.531 149.947 218.233 150.544C217.934 151.12 217.785 151.803 217.785 152.592V153.52C217.785 154.373 217.955 155.109 218.297 155.728C218.659 156.347 219.171 156.827 219.833 157.168C220.494 157.488 221.283 157.648 222.201 157.648C223.054 157.648 223.779 157.531 224.377 157.296C224.995 157.04 225.603 156.656 226.201 156.144L229.401 159.472C228.569 160.389 227.545 161.093 226.329 161.584C225.113 162.053 223.673 162.288 222.009 162.288ZM233.452 162V144.656H239.244V149.712L238.38 148.272C238.892 146.971 239.724 146 240.876 145.36C242.028 144.699 243.425 144.368 245.068 144.368V149.84C244.791 149.797 244.545 149.776 244.332 149.776C244.14 149.755 243.927 149.744 243.692 149.744C242.455 149.744 241.452 150.085 240.684 150.768C239.916 151.429 239.532 152.517 239.532 154.032V162H233.452Z" fill="#DC9393"/>
  <path d="M414 75C414 75 402.846 77.1996 395.952 85.0403C390.84 90.8549 399.753 109.256 392.671 113.952C385.234 118.883 368.609 103.446 365.497 110.277C362.461 116.939 376.946 130.346 371.477 136.197C365.776 142.297 353.043 137.711 342.937 139.476C332.59 141.282 325.103 145.68 315.045 147.218C300.894 149.382 281 150 281 150H414V75Z" fill="#9FD6D2"/>
  <ellipse cx="369.362" cy="85.6157" rx="7.69776" ry="9.50193" transform="rotate(20.7932 369.362 85.6157)" fill="#9FD6D2"/>
  <path d="M-2 0C-2 0 7.24466 26.049 14.5012 41.7304C19.8826 53.3596 21.9305 61.1629 29.3846 70.5545C37.2128 80.4174 49.8358 75.6786 53.1118 89.3403C56.3065 102.663 37.0015 110.692 42.7581 122.395C48.7593 134.594 60.1621 117.073 70.7994 120.602C81.6905 124.216 85.0249 134.661 95.3894 140.392C110.778 148.902 134 150 134 150H-2V0Z" fill="#9FD6D2"/>
  <ellipse cx="32.5" cy="41" rx="6.5" ry="7" fill="#9FD6D2"/>
  </svg>
</div>

<div class="createAccount"style="text-align: center;">
  <form action="{{ routes.account_register_url }}">
  <button class="button button--primary" style="color: white; background-color: var(--gradient-base-accent-2)">
    {{ 'customer.login_page.create_account' | t }}
  </button>
</form>
</div>

</div>
{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
